.wrapper {
  max-width: 1200px;
  margin: auto;
}

.font-300 {
  font-weight: 300 !important;
}

.font-400 {
  font-weight: 400 !important;
}

.font-500 {
  font-weight: 500 !important;
}

.font-600 {
  font-weight: 600 !important;
}

.font-700 {
  font-weight: 700 !important;
}

.font-size-0-9 {
  font-size: 0.9rem !important;
}

.font-size-1 {
  font-size: 1rem !important;
}

.font-size-1-25 {
  font-size: 1.25rem !important;
}

.font-size-1-5 {
  font-size: 1.5rem !important;
}

.font-size-2 {
  font-size: 2rem !important;
}

.font-size-title {
  font-size: clamp(1rem, calc(0.9rem + 1.5vw), 1.8rem);
}

.glow { 
  border: 1px solid transparent; 

  &:hover {
    border: 1px solid var(--primary);
    box-shadow: color-mix(in srgb, var(--primary), transparent 50%) 0px 1px
    24px;
  }
}

.cursor-pointer {
  cursor: pointer !important;
}

.z-2 {
  z-index: 2 !important;
}