@import "./base.css";
@import "./helper.css";

body.light {
  & #home-hero {
    background-color: var(--secondary);
  }

  & .auth-background, #blog header:first-child {
    background-image: linear-gradient(
      to bottom right,
      var(--secondary),
      rgba(175, 255, 228, 0.5)
    );
  }
}

body.dark {
  & #home-hero, & #blog header:first-child  {
    background-color: var(--surface);
  }

  & .auth-background {
    background-color: var(--background);
  }
}
